<style>
  .btn {
    text-decoration: none;
    padding: 12px 40px 10px;
    border-radius: 100px;
    line-height: 34px;
    font-weight: 500;
    font-size: 24px;
    transition: .2s;
    display: inline-block;
    text-transform: uppercase;
  }

  .btn.primary {
    background: #0038FF;
    color: #fff;
  }

  .btn.primary:hover {
    background: #0330CC;
  }

  .btn.secondary:hover {
    background: #D3D8DD;
  }

  .btn.secondary {
    background: #fff;
    color: #000;
  }
</style>

<a href="{{ href }}" class="btn {{ btn_class }}">
  {{ btn_text }}
</a>