{% comment %}

INSTRUCTIONS

### Call it like this ###
{% include 'slider', titles: slideTitle, descriptions: slideDescription, imgs: slideImg %}

### Populate the data like this (3 slides max!!!) ###
{% assign slideTitle = "
Tailored Designs;
Superior Craftsmanship;
Full Customization
" | split: ';' %}

{% assign slideDescription = "
Bold, vibrant, and uniquely yours — our designs capture your team's essence.;
High-performance materials ensure comfort and durability on every ride.;
From concept to creation, we bring your vision to life with meticulous attention to detail.
" | split: ';' %}

{% assign slideImg = "
https://cdn.shopify.com/s/files/1/0751/1490/5880/files/gypsy-cafe-jersey.png;
https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-alkem.png;
https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-squad.png
" | split: ';' %}
 
{% endcomment %}

<style>
  .swiper {
    width: 1140px;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .home__cakeMake_arrow {
      display: none;
    }

    .embla__slide {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }

    .swiper {
      width: 100vw;
    }

    .home__cakeMake_buttons {
      gap: 24px;
      margin-top: 40px;
      justify-content: center;
    }

    .swiper-pagination {
      position: relative;
      margin: 0 auto;
      margin-top: 80px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    .home__cakeMake_jersey {
      width: 100%;
    }

    .embla__slide h3 {
      font-size: 6vw;
    }

    .embla__slide > div:first-child > div:first-child {
      column-gap: 0;
    }

    .swiper {
      width: 100%;
    }

    .swiper-pagination {
      position: relative;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
</style>

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for title in titles %}
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <div>
            <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
            <h3 class="heading-m">{{ title }}</h3>
            <div></div>
            <div>
              <p>{{ descriptions[forloop.index0] }}</p>
              <div class="home__cakeMake_buttons">
                {% include 'button', href: "/pages/get-started", btn_class: 'primary', btn_text: 'Make Jersey' %}
                {% include 'button', href: "#home__contact", btn_class: 'secondary', btn_text: 'Learn More' %}
              </div>
            </div>
          </div>
        </div>
        <div class="embla__slide_imgBox">
          <img src="{{ imgs[forloop.index0] }}" alt="{{ slide1_alt_text }}" class="home__cakeMake_jersey">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

</div>

<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  }

});
</script>