<style>
  .home__aboutUs {
    position: relative;
    padding: 150px 0;
  }

  .aboutUs__container {
    color: #fff;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .aboutUs__container h2 {
    text-transform: capitalize;
  }

  .aboutUs__container h2:first-child {
    padding-left: 10vw;
    white-space: nowrap;
  }

  .aboutUs__container p {
    padding-left: 16vw;
  }

  .aboutUs__container a {
    margin: 72px 0 0 auto;
  }

  .aboutUs__blueLine {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }

  @media screen and (max-width: 1024px) {
    .aboutUs__container {
      padding: 20px;
    }

    .home__aboutUs h2 {
      font-size: 48px;
    }

    .home__aboutUs h2,
    .home__aboutUs p {
      padding: 0 !important;
    }

    .home__aboutUs p {
      font-size: 20px;
    }

    .home__aboutUs a {
      margin-left: 0;
    }
  }
</style>

<section class="home__aboutUs">
  <div class="aboutUs__container">
    <div>
      <h2>we are canvas</h2>
      <h2>for your story</h2>
    </div>
    <p>At Cake Make, we celebrate the spirit of unity and the thrill of the ride. Our custom-made cycling wear is crafted to reflect your team's unique passion and drive, helping you make a bold statement on every ride.</p>
    {% include 'button', btn_class: 'primary', btn_text: 'About Us' %}
  </div>
  <img class="aboutUs__blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/aboutUs-blue-line.svg?v=1717052993"/>
</section>
{% include 'marquee' %}