<style>
  .contact-cta__container {
    max-width: 1160px;
    margin: 0 auto 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .contact-cta h2 {
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .contact-cta p {
    margin: 40px 0 0;
  }

  .contact-cta h2:first-child {
    margin-bottom: 20px;
  }

  .contact-cta__button {
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-left: auto;
  }

  .contact-cta__button {
    width: 250px;
    display: block;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    background: #0038FF;
    color: #fff;
    font-weight: 500;
  }

  .contact-cta__button div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .contact-cta__button svg {
    height: 20px;
    width: auto;
  }
</style>

<section class="contact-cta">
  <div class="contact-cta__container">
    <div>
      <h2 class="heading-l">Make your</h2>
      <h2 class="heading-l">own jersey</h2>
      <p>Create designs that reflect your team's unique identity.</p>
    </div>
    <a class="contact-cta__button">
      <div>Make <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 15 16" height="16" width="15">
      <path fill="white" d="M14.7463 13.7268L14.7506 0.750614L1.77439 0.754902C1.63925 0.736993 1.50167 0.748352 1.37097 0.78821C1.24026 0.828068 1.11948 0.895494 1.0168 0.985925C0.914122 1.07635 0.831943 1.18768 0.775826 1.31235C0.71971 1.43703 0.690966 1.57216 0.691541 1.70858C0.692117 1.845 0.721997 1.97953 0.779161 2.10307C0.836325 2.22661 0.919435 2.33627 1.02287 2.42462C1.1263 2.51297 1.24764 2.57796 1.37867 2.61519C1.50971 2.65241 1.64737 2.661 1.78235 2.64037L11.506 2.65233L0.612419 13.546C0.433301 13.7251 0.332258 13.9676 0.33152 14.2202C0.330781 14.4727 0.430406 14.7147 0.608479 14.8927C0.786552 15.0708 1.02849 15.1704 1.28106 15.1697C1.53363 15.169 1.77615 15.0679 1.95527 14.8888L12.8489 3.99518L12.8609 13.7189C12.861 13.9716 12.9616 14.2133 13.1404 14.3908C13.3192 14.5684 13.5616 14.6672 13.8143 14.6656C14.067 14.6639 14.3093 14.562 14.4879 14.3821C14.6665 14.2023 14.7667 13.9593 14.7666 13.7066L14.7463 13.7268Z" id="Vector"/></svg>
      </div>
      <div>Jersey</div>
    </a>
  </div>
</section>
{% include 'marquee', marqueeText: 'Start Your Adventure' %}