<style>
  .header {
    position: fixed;
    width: 100%;
    padding: 16px 0;
    z-index: 9999;
    background: transparent;
    transition: .3s;
  }

  .header__container {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .header_links {
    display: flex;
    justify-content: end;
    gap: 24px;
  }

  .header__container img {
    max-width: 72px;
    transition: .3s;
  }

  .header {
    text-transform: capitalize;
  }

  .header__container nav {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerScrolled {
    background: rgba(29, 28, 28, 0.40);
    backdrop-filter: blur(12px);
    transition: .3s;
  }

  .headerScrolled img {
    max-width: 48px;
    transition: .3s;
  }

  .header nav a {
    color: inherit;
    text-decoration: none;
  }

  .header__highlightedLink {
    background: #fff;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 500;
    line-height: 1;
    color: #0038FF !important;
    transition: .2s linear;
  }

  .header__highlightedLink:hover {
    background: transparent;
    color: #fff !important;
    transition: .2s linear;
  }

  @media screen and (max-width: 1024px) {
    .header {
      display: none;
    }
  }
</style>
<header id="header" class="header">
  <div class="header__container">
    <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/cake_logo.svg" />
    <nav>
      <a>get started</a>
      <a>about us</a>
      <a href="#home__contact">contact us</a>
      <a>FAQ</a>
      <a class="header__highlightedLink">Make jersey</a>
    </nav>
    <div class="header_links">
      <a>日本語</a>
    </div>
  </div>
</header>

<script>
  window.addEventListener('scroll', () => {
    if (window.scrollY >= 104) {
      document.getElementById("header").classList.add("headerScrolled");
    } else {
      document.getElementById("header").classList.remove("headerScrolled");
    }
  });
</script>