<section class="home__hero">
  <div class="hero__container">
    <div>
      <h1>the Cake<br>team Spirit</h1>
      <p>Team jerseys are more than attire — they're your team's rallying cry. Celebrate unity, embody spirit, and
        amplify joy with every pedal. This is why the Cake exist. Belong & have fun.</p>
      <div class="hero__buttons">
        <a>cake make</a>
        <a>cake original</a>
      </div>
    </div>
    <div>
      <img class="hero__jersey floating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-jersey.png?v=1717049813" />
      <img class="hero__circleText_1 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg?v=1717050278" />
      <img class="hero__circleText_2 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg?v=1717050278" />
    </div>
  </div>
</section>
<section class="home__aboutUs">
  <div class="aboutUs__container">
    <h2>we are canvas</h2>
    <h2>for your story</h2>
    <p>Our mission is clear: to champion the underserved, to celebrate the spirit of the team, and to foster human connection through the art of bespoke jersey design. Teams and solo riders alike decide to embark on this transformative journey with Cake. They share their stories, their victories, and their aspirations, trusting Cake to translate these into bespoke jerseys that symbolize their unity and individuality.</p>
    <a>learn more</a>
  </div>
  <img class="aboutUs__blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/aboutUs-blue-line.svg?v=1717052993"/>
</section>
<section class="home__marquee1">
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
</section>
<section class="home__cakeMake">
  <div class="home__cakeMake_container">
    <h2>cake make</h2>
    <div class="embla">
  <div class="embla__viewport">
    <div class="embla__container">
      <div class="embla__slide">
        <div>
          <h3>custom design</h3>
        <p>Begin your journey with a custom jersey that elevates your team's spirit. Fill out the form, and let us guide you through an inspiring design experience.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/gypsy-cafe-jersey.png?v=1717123284" />
        </div>
      </div>
      <div class="embla__slide">
        <div>
          <h3>produce uniqueness</h3>
        <p>Collaborate with our design mavens to tailor your unique jersey. We're here to answer all your questions and ensure your team's essence is perfectly captured.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-alkem.png?v=1717134419" />
        </div>
      </div>
      <div class="embla__slide">
        <div>
          <h3>idea delivery</h3>
        <p>Once your design dreams are realized, sit back and eagerly await the arrival of your team's new standout jersey.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-squad.png?v=1717134470" />
        </div>
      </div>
    </div>
  </div>
  <button class="embla__prev">Prev</button>
  <button class="embla__next">Next</button>
</div>
  </div>
  <script type="text/javascript">
  const emblaNode = document.querySelector('.embla')
  const options = { loop: false }
  const emblaApi = EmblaCarousel(emblaNode, options)
  console.log(emblaApi.slideNodes()) // Access API

// Grab wrapper nodes
const rootNode = document.querySelector('.embla')
const viewportNode = rootNode.querySelector('.embla__viewport')

// Grab button nodes
const prevButtonNode = rootNode.querySelector('.embla__prev')
const nextButtonNode = rootNode.querySelector('.embla__next')

// Initialize the carousel
const embla = EmblaCarousel(viewportNode)

// Add click listeners
prevButtonNode.addEventListener('click', embla.scrollPrev, false)
nextButtonNode.addEventListener('click', embla.scrollNext, false)

</script>
</section>