<section class="home__hero">
  <div class="hero__container">
    <div>
      <h1>the Cake<br>team Spirit</h1>
      <p>Team jerseys are more than attire — they're your team's rallying cry. Celebrate unity, embody spirit, and
        amplify joy with every pedal. This is why the Cake exist. Belong & have fun.</p>
      <div class="hero__buttons">
        <a>cake make</a>
        <a>cake original</a>
      </div>
    </div>
    <div>
      <img class="hero__jersey floating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-jersey.png?v=1717049813" />
      <img class="hero__circleText_1 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg?v=1717050278" />
      <img class="hero__circleText_2 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg?v=1717050278" />
    </div>
  </div>
</section>
<section class="home__aboutUs">
  <div class="aboutUs__container">
    <h2>we are canvas</h2>
    <h2>for your story</h2>
    <p>Our mission is clear: to champion the underserved, to celebrate the spirit of the team, and to foster human connection through the art of bespoke jersey design. Teams and solo riders alike decide to embark on this transformative journey with Cake. They share their stories, their victories, and their aspirations, trusting Cake to translate these into bespoke jerseys that symbolize their unity and individuality.</p>
    <a>learn more</a>
  </div>
  <img class="aboutUs__blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/aboutUs-blue-line.svg?v=1717052993"/>
</section>
<section class="home__marquee1">
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
</section>
<section class="home__cakeMake">
  <div class="home__cakeMake_container">
    <h2>cake make</h2>
    {% comment %} SWIPER TEST {% endcomment %}
<style>
  .swiper {
  width: 1140px;
}
</style>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>custom design</h3>
        <p>Begin your journey with a custom jersey that elevates your team's spirit. Fill out the form, and let us guide you through an inspiring design experience.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img class="home__cakeMake_jersey" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/gypsy-cafe-jersey.png?v=1717123284" />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>produce uniqueness</h3>
        <p>Collaborate with our design mavens to tailor your unique jersey. We're here to answer all your questions and ensure your team's essence is perfectly captured.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img class="home__cakeMake_jersey" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-alkem.png?v=1717134419" />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>idea delivery</h3>
        <p>Once your design dreams are realized, sit back and eagerly await the arrival of your team's new standout jersey.</p>
        <div class="home__cakeMake_buttons">
          <a>get a quote</a>
          <a>learn more</a>
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div>
          <img class="home__cakeMake_jersey" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/jersey-squad.png?v=1717134470" />
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  autoplay: {
    delay: 5000,
  },

});
</script>

{% comment %} SWIPER TEST {% endcomment %}
  </div>
  
</section>

<section class="home__testimonials">
  <div class="home__testimonials_container">
    <h2>Shoutout from</h2>
    <h2>the Teams</h2>
    <div class="home__testimonials_topRow">
      <img class="home__testimonials_img1" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/b7646d6f3df338c08debe74099700cae.jpg?v=1717135984" />
      <h3>Team<br/>Anabia</h3>
    </div>
    <div class="home__testimonials_bottomRow">
      <div>
        <img class="home__testimonials_img2" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/03dc6db76e27d13387963f15d55637b6.jpg?v=1717138725" />
      <p>Early 2022, I approached Brano with my idea on a team jersey and Brano was able to quickly put my ideas and colours together into a perfect design.  The design, look and feel are exactly what I was looking for.  In my 20 years of road bicycle racing, they are by far the best I've ever had! They feel great and the look AWESOME!
      <br/><br/>
      — David, Team Anabia</p>
      </div>
      <div>
        <div class="home__testimonials_img3">
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/8875bb804f2574c763de03630a61032b.jpg?v=1717140189" />
        </div>
        <div class="home__testimonials_img4">
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/648b11ec38bf8523e175650f7831e7d7.jpg?v=1717140633" />
        </div>
      </div>
    </div>
  </div>
  <img class="home__testimonials_blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Vector_11.svg?v=1717142984" />
</section>
<section class="home__marquee1">
    <div class="marquee">
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
    </div>
    <div class="marquee">
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
    </div>
</section>