<style>
  /* HERO */
  .home__hero {
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .hero__buttons {
    margin-top: 56px;
    display: flex;
    gap: 24px;
  }

  .hero__container {
    max-width: 1160px;
    width: 100%;
    margin: 104px auto 0;
    display: flex;
    align-items: center;
    position: relative;
  }

  .hero__container > div:first-child {
    z-index: 2;
  }

  .hero__container div:nth-child(2) {
    align-items: center;
    display: flex;
  }

  .hero__jersey {
    position: absolute;
    right: 0;
    top: 0;
    height: 125%;
    max-height: 700px;
    z-index: 0;
  }

  .hero__circleText_1 {
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 280px;
    z-index: 1;
  }

  .hero__circleText_2 {
    position: absolute;
    right: -5%;
    bottom: 50%;
    width: 280px;
    z-index: -1;
  }

  .home__hero h1 {
    text-transform: capitalize;
  }

  .home__hero p {
    margin: 32px 0 0;
  }
</style>

<section class="home__hero">
  <div class="hero__container">
    <div>
      <h1 class="heading-xl">The Cake<br>Team Spirit</h1>
      <p>Custom cycling apparel that combines bold design,<br> superior craftsmanship, and a love for community.</p>
      <div class="hero__buttons">
        {% include 'button', href: "/pages/get-started", btn_class: 'primary', btn_text: 'Make Jersey' %}
        {% include 'button', href: "#home__contact", btn_class: 'secondary', btn_text: 'Learn More' %}
      </div>
    </div>
    <div>
      
      {% assign hero__jersey_url = images['hero-jersey.png'] | image_url: width: 700 %}
      <img data-src="{{ hero__jersey_url }}" alt="Potion Header" class="lazyload hero__jersey floating">
      <img class="hero__circleText_2 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg" />
      <div class="home__hero_socialMedia">
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/bxl_facebook.svg?v=1717381227" /></a>
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/simple-icons_x.svg?v=1717381227" /></a>
        <a href="https://www.instagram.com/cake.teamspirit/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/iconoir_instagram.svg?v=1717381228" /></a>
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/mdi_youtube.svg?v=1717381227" /></a>
      </div>
    </div>
  </div>
</section>