html {
  overflow-x: hidden;
}

body {
  background: radial-gradient(165.75% 70.71% at 50% 50%, #363535 0%, #000 100%);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin: 24px 0;
}

h1 {
  font-size: 112px;
  line-height: 100%;
  margin: 24px 0;
}

h2 {
  font-size: 112px;
  line-height: 100%;
  margin: 24px 0;
}

/* HERO */
.home__hero {
  color: #fff;
}

.home__hero h1 {
  text-transform: capitalize;
}

.hero__buttons {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.hero__buttons a {
  background: #fff;
  color: #000;
  padding: 16px 48px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

.hero__container {
  max-width: 1160px;
  margin: 0 auto;
  min-height: 900px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__container > div:first-child {
  z-index: 2;
}

.hero__container p {
  max-width: 50%;
}

.hero__jersey {
  position: absolute;
  max-width: 700px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.hero__circleText_1 {
  position: absolute;
  left: 50%;
  bottom: 30%;
  width: 280px;
  z-index: 1;
}

.hero__circleText_2 {
  position: absolute;
  right: -5%;
  bottom: 50%;
  width: 280px;
  z-index: -1;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.floating {
  animation: floating 4s alternate infinite;
}

.rotating {
  animation: rotating 30s linear infinite;
}

/* ABOUT US */
.home__aboutUs {
  position: relative;
  padding: 150px 0;
}

.aboutUs__container {
  color: #fff;
  max-width: 1160px;
  margin: 0 auto;
}

.aboutUs__container h2 {
  text-transform: capitalize;
}

.aboutUs__container h2:first-child {
  padding-left: 10vw;
}

.aboutUs__container p {
  padding-left: 16vw;
}

.aboutUs__container a {
  display: block;
  margin: 72px 0 0 auto;
  background: #0038FF;
  color: #fff;
  padding: 16px 48px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  max-width: fit-content;
}

.aboutUs__blueLine {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

/* MARQUEE 1 */

.home__marquee1 {
  color: #fff;
  display: flex;
  font-size: 4vw;
  line-height: 1;
  margin: 0;
  width: fit-content;
  overflow: hidden;
}

.home__marquee1 div {
  display: flex;
  flex-shrink: 0;
  text-transform: capitalize;
  padding: 24px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.home__marquee1 h3 {
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 30s linear infinite;
}

/* CAKE MAKE */
.embla {
  overflow: hidden;
  color: #fff;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.home__cakeMake_jersey {
  position: relative;
  width: 500px;
}

.home__cakeMake_container {
  max-width: 1160px;
  margin: 150px auto;
}

.home__cakeMake h3 {
  font-size: 48px;
  line-height: 1;
  text-transform: capitalize;
  margin: 24px 0;
}

.embla__slide a {
  display: block;
  background: #0038FF;
  color: #fff;
  padding: 16px 48px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  max-width: fit-content;
}

.embla__slide a:nth-child(2) {
  display: block;
  background: transparent;
  color: #fff;
  padding: 14px 46px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  max-width: fit-content;
  border: 2px solid #fff;
}

.home__cakeMake_buttons {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.home__cakeMake h2 {
  color: #fff;
  font-size: 112px;
  text-transform: capitalize;
}

.embla__slide > div:first-child {
  padding-left: 150px;
  position: relative;
}

.home__cakeMake_arrow {
  position: absolute;
  top: 40px;
  max-width: 100px;
  left: 0;
}

.home__cakeMake_emblaButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* TESTIMONIALS */
.home__testimonials_container {
  max-width: 1160px;
  margin: 0 auto;
}

.home__testimonials_container h2 {
  text-transform: capitalize;
}

.home__testimonials_container h2:first-child {
  padding-left: 10vw;
}

.home__testimonials_topRow {
  margin-top: 72px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.home__testimonials_topRow img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 60%;
}

.home__testimonials_topRow h3 {
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

.home__testimonials_bottomRow {
  position: relative;
  margin-top: 72px;
}

.home__testimonials_bottomRow > div {
  display: flex;
}

.home__testimonials_bottomRow > div:first-child {
  margin-bottom: 72px;
}

.home__testimonials_img2 {
  padding: 0 112px;
  width: 350px;
  aspect-ratio: 3/4;
  object-fit: cover;
  height: 100%;
}

.home__testimonials_bottomRow > div:nth-child(2) {
  padding-left: 224px;
}

.home__testimonials_img3 {
  width: 400px;
  margin-right: 112px;
}

.home__testimonials_img3 img {
  width: 100%;
  aspect-ratio: 3/4;
  height: auto;
  object-fit: cover;
}

.home__testimonials_img4 img {
  margin-top: -72px;
  width: 100%;
  aspect-ratio: 4/3;
  height: auto;
  object-fit: cover;
}

.home__testimonials {
  position: relative;
  padding-bottom: 150px;
}

.home__testimonials_blueLine {
  position: absolute;
  top: -20%;
  right: 0;
  z-index: -1;
}

/* TEAM COLLECTION */
.home__teamCollection {
  position: relative;
}

.home__teamCollection_container {
  max-width: 1160px;
  margin: 150px auto;
}

.home__teamCollection_grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.home__teamCollection_grid a {
  text-decoration: none;
  color: #fff;
}

.home__teamCollection_grid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home__teamCollection_item h3 {
  font-size: 24px;
  font-weight: 500;
}

.home__teamCollection_cta {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home__teamCollection_cta a {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background: #0038FF;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__teamCollection_line {
  position: absolute;
  bottom: 0;
  z-index: -1;
}