<style>
  /* GLOBAL */
  .container {
    max-width: 1160px;
    margin: 0 auto;
  }

  /* HERO */
  .hero {
    padding: 150px 0;
    margin-top: 104px;
    text-align: center;
  }

  .hero__title {
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
  }

  .hero__text {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    max-width: 70%;
    margin: 0 auto;
  }

  .hero__line {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  @media screen and (max-width: 600px) {
    .hero {
      padding: 100px 20px;
    }

    .hero__title {
      font-size: 32px;
    }

    .hero__text {
      max-width: 100%;
    }
  }

  /* ABOUT US */
  .aboutUs {
    padding: 150px 0;
  }

  .aboutUs__title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
  }

  .aboutUs__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }

  .aboutUs__mission {
    display: grid;
    gap: 50px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    .aboutUs {
      padding: 100px 20px;
    }

    .aboutUs__title {
      font-size: 24px;
    }

    .aboutUs__mission {
      grid-template-columns: 1fr;
    }

    .whyUs h2 {
      font-size: 32px;
    }

    .whyUs {
      padding: 0 20px;
    }

    .home__cakeMake_container {
      margin: 0 !important;
    }
  }
</style>

{% section 'header' %}

<section class="hero">
  <div class="container">
    <h1 class="hero__title">Celebrating Custom Excellence in Cycling Apparel</h1>
    <p class="hero__text">Cake Make is a place, where our love for cycling meets exceptional design. We create custom apparel that embodies your team’s unique spirit. We believe every team deserves gear that not only performs but also tells their story with elegance and style.</p>
  </div>
  <svg class="hero__line" xmlns="http://www.w3.org/2000/svg" width="1225" height="776" viewBox="0 0 1225 776" fill="none">
    <path d="M7.21526 -51.2141C246.931 623.088 857.849 433.883 909.908 109.205C961.967 -215.473 444.299 -33.3264 730.989 417.203C960.342 777.626 1245.56 791.907 1359.49 753.995" stroke="#0038FF" stroke-width="15"/>
  </svg>
</section>

{% include 'marquee', marqueeText: 'Start Your Adventure' %}

<section class="aboutUs">
  <div class="container">
    <div class="aboutUs__story">
      <h2 class="aboutUs__title">Our Story</h2>
      <p class="aboutUs__text">Cake Make was born from a passion for cycling and a commitment to innovative design. Founded by a group of cyclists and design enthusiasts, we set out to bring bespoke quality and unique aesthetics to cycling apparel. From these roots, Cake Make has become a trusted name in the cycling community, known for our meticulous attention to detail and dedication to craftsmanship.</p>
    </div>
    <div class="aboutUs__mission">
      <svg xmlns="http://www.w3.org/2000/svg" width="263" height="241" viewBox="0 0 263 241" fill="none">
        <g clip-path="url(#clip0_1802_2667)">
          <path d="M160.545 201.638C195.791 187.599 212.97 147.611 198.914 112.323C184.858 77.035 144.891 59.8096 109.644 73.849C74.3973 87.8884 57.2187 127.876 71.2745 163.164C85.3303 198.452 125.298 215.677 160.545 201.638Z" fill="black"/>
          <path d="M223.36 72.7765L222.719 72.3474C220.531 71.0377 218.262 70.2736 216.007 69.9744C215.007 67.4644 213.793 65.1679 212.336 63.2251C209.738 59.8121 206.085 57.0759 202.069 55.6816C197.368 54.1753 192.283 53.8487 186.319 54.6417C183.208 54.9826 180.325 56.0027 177.537 57.7975C176.918 58.1726 176.328 58.6215 175.701 59.085C170.257 63.2208 166.336 69.5724 164.183 77.1445C161.251 76.217 158.605 75.9022 156.209 76.001C154.919 69.5438 153.288 64.8048 150.564 61.1851C148.371 58.2524 145.433 55.9158 141.705 54.0647C136.342 51.5392 130.673 51.7869 126.101 54.6775C123.445 56.3767 118.989 60.4183 118.759 68.6358L118.744 69.2407C118.904 78.1154 120.365 90.7917 122.408 103.749C118.922 103.47 115.538 104.305 112.639 106.143C110.25 107.651 108.42 109.706 107.164 112.131C105.586 112.674 104.06 113.453 102.577 114.343C102.165 113.737 101.753 113.131 101.223 112.444L100.774 111.853C95.5333 104.917 86.6635 100.666 75.3135 99.8407C70.11 99.6467 64.8532 101.142 60.1107 104.143C59.4321 104.584 58.7314 105.077 58.0675 105.555C54.2612 108.44 50.7338 112.454 47.5813 117.516L47.19 118.142C36.8659 137.052 31.5389 177.409 52.7823 204.359C62.1087 216.084 76.3865 222.329 88.7934 220.338C93.8062 219.625 98.717 217.797 103.386 214.825C104.381 214.215 105.348 213.531 106.299 212.809C111.78 208.659 116.142 203.415 119.177 197.202C122.34 196.669 125.452 195.472 128.387 193.619C129.007 193.244 129.597 192.795 130.224 192.331C133.801 189.623 136.363 186.08 138.165 182.453C141.902 182.077 145.611 180.771 149.129 178.557C149.808 178.115 150.486 177.674 151.136 177.159C154.027 174.981 156.529 172.145 158.522 168.785C159.945 168.389 161.332 167.794 162.615 166.941C167.151 164.065 169.751 159.009 169.69 153.602C175.947 153.975 181.713 152.149 186.36 149.229C186.942 148.868 187.51 148.471 188.101 148.022C192.585 144.696 196.017 140.335 198.286 135.198C203.151 134.757 207.995 133.084 212.531 130.208C213.49 129.612 214.456 128.928 215.43 128.155C226.428 119.626 233.122 104.899 232.503 90.4759C232.018 82.2866 227.514 75.6981 223.286 72.8059L223.36 72.7765Z" fill="black"/>
          <path d="M134.846 184.631C135.488 183.562 136.263 182.398 137.045 181.787C137.429 181.463 137.282 181.094 136.98 180.872C135.942 180.089 135.079 180.603 134.407 181.384C133.536 182.415 131.764 185.687 130.723 187.043C130.546 187.242 130.561 187.492 130.774 187.707C131.474 188.283 132.38 188.093 133.303 187.084C133.517 186.871 133.665 186.598 133.864 186.348C134.678 189.787 135.412 193.344 136.587 196.725C136.69 196.983 136.83 197.227 136.992 197.419C137.331 197.84 137.618 198.025 138.053 198.151C138.487 198.277 138.694 198.152 138.635 197.791C138.005 194.92 137.351 192.101 136.647 189.259C136.148 187.149 135.582 185.407 134.934 184.638L134.846 184.631Z" fill="white"/>
          <path d="M175.692 158.909C176.171 158.505 175.87 157.641 175.178 156.976C174.456 156.237 173.042 155.688 172.511 156.071C172.075 156.372 172.347 157.376 173.046 158.167C173.827 159.053 175.094 159.447 175.706 158.946L175.692 158.909Z" fill="white"/>
          <path d="M192.42 147.499C192.008 147.321 191.72 147.778 191.948 148.243C192.58 149.83 193.005 152.184 192.569 153.128C192.392 153.541 191.942 153.377 191.471 152.838C191.11 152.468 190.75 151.885 190.471 151.184C189.654 149.242 188.794 147.19 188.257 146.163C188.552 145.832 188.907 145.434 189.246 145.214C189.681 144.912 189.571 144.742 189.121 144.793C188.834 144.822 188.273 144.917 187.705 145.314C187.411 145.004 187.072 144.796 186.74 144.715C186.534 144.626 186.129 144.573 185.753 144.595C185.2 144.601 184.942 144.704 185.111 145.021C185.302 145.501 185.582 145.989 186.112 146.89C185.78 147.236 185.337 147.626 184.916 147.964C184.762 148.112 184.68 148.23 184.636 148.333C184.002 148.029 182.86 148.057 182.366 148.424C181.945 148.763 182.121 149.42 182.748 149.812C183.425 150.226 184.516 150.177 185.062 149.617C185.394 149.271 185.336 148.909 185.041 148.599C185.078 148.584 185.13 148.607 185.218 148.614C185.609 148.63 186.125 148.424 186.715 147.975C187.436 149.356 188.348 151.217 188.936 152.479C188.98 152.59 189.024 152.701 189.054 152.774C189.083 152.848 189.113 152.922 189.157 153.033C189.98 154.886 190.508 157.712 189.991 158.774C189.858 159.083 189.637 158.957 189.328 158.61C189.018 158.263 188.695 157.665 188.379 156.978C187.879 155.723 186.997 153.294 186.482 152.216C185.857 150.969 184.899 150.495 184.147 150.538C183.594 150.544 183.432 150.78 183.616 151.348C184.483 153.74 185.512 156.11 186.579 158.465C187.461 160.68 187.974 163.041 187.509 163.911C187.317 164.287 186.838 164.05 186.323 163.4C184.88 161.494 184.117 158.505 183.729 156.136C183.611 155.627 183.376 155.25 183.111 155.013C182.58 154.54 181.726 154.325 181.158 154.294C180.642 154.286 180.502 154.47 180.472 155.038C180.441 156.034 180.315 156.897 180.034 157.479C179.475 156.504 178.916 155.743 178.452 155.329C177.907 154.819 177.436 154.708 177.052 155.032C176.476 155.518 177.041 158.329 178.3 159.667C178.609 160.014 179.073 160.214 179.53 160.289C180.169 162.857 180.918 165.381 181.852 167.832C181.94 168.054 182.028 168.275 182.116 168.497C182.476 169.936 182.57 171.138 182.179 171.551C182.002 171.75 181.715 171.565 181.347 171.07C180.942 170.589 180.523 169.858 180.096 169.002C179.405 167.481 178.258 164.388 177.552 162.83C176.729 160.977 175.536 159.912 174.652 159.623C174.011 159.408 173.848 159.644 174.083 160.448C175.156 163.571 176.48 166.679 177.995 169.625C178.024 169.699 178.054 169.773 178.083 169.846C178.877 171.84 179.295 174.068 178.578 175.38C178.469 174.141 177.822 172.302 176.815 170.309C175.947 168.559 174.858 166.683 173.724 165.338C172.362 163.743 170.388 162.433 169.348 163.147C168.876 163.463 168.706 164.215 168.742 165.056C168.403 164.635 167.991 164.243 167.549 163.992C167.107 163.74 166.783 163.784 167.062 164.699C168.465 168.759 169.95 172.915 171.737 176.865C171.332 176.385 170.757 176.015 170.183 175.859C168.996 175.561 165.613 175.54 164.185 173.671C162.566 171.537 160.935 166.584 162.78 164.352C163.215 164.478 163.803 165.954 164.266 167.224C164.78 168.73 165.442 169.963 165.943 170.576C166.458 171.227 167.018 171.56 167.534 171.782C168.27 172.13 168.263 171.791 168.043 171.237C167.719 170.425 166.94 168.682 166.572 167.546C166.278 166.807 165.734 165.442 164.696 164.444C164.004 163.779 163.01 163.106 162.008 162.735C161.455 162.527 161.005 162.578 160.629 162.813C160.29 163.034 160.032 163.351 159.847 164.066C159.098 167.657 160.45 172.123 162.732 174.849C164.771 177.287 167.719 177.61 170.637 178.287C170.983 178.405 171.447 178.819 171.557 179.417C171.645 179.852 171.439 180.191 171.077 180.464C170.199 181.155 168.129 180.569 166.847 180.139C166.5 180.02 166.198 180.012 165.911 180.041C165.469 179.361 164.865 178.704 164.504 178.548C164.092 178.37 163.952 178.555 164.187 179.145C164.393 179.662 164.584 180.142 164.716 180.688C164.716 180.688 164.679 180.703 164.657 180.754C164.583 180.997 164.649 181.271 164.98 181.566C165.495 183.286 165.795 184.791 165.434 185.064C165.131 185.27 164.557 184.9 163.961 184.154C163.077 183.009 162.394 181.185 161.762 179.384C160.828 176.719 159.953 174.844 159.07 173.699C158.201 172.591 157.192 171.881 156.647 172.226C156.079 172.624 156.047 174.475 156.296 176.386C155.221 174.975 153.91 174.043 153.342 174.441C152.789 174.875 152.839 176.822 153.19 178.778C152.97 178.438 152.749 178.099 152.557 177.833C152.138 177.315 151.63 176.791 151.092 176.406C150.488 175.962 150.208 176.117 150.465 176.87C151.67 180.324 152.979 183.823 154.457 187.212C155.125 189.213 155.367 190.998 154.703 191.263C154.482 191.351 154.18 191.129 153.878 190.693C152.222 188.359 151.687 185.193 150.688 182.469C149.909 180.513 148.664 179.212 147.898 178.79C147.353 178.494 147.08 178.774 147.352 179.564C147.543 180.044 147.594 180.28 147.749 180.774C146.968 180.102 146.01 179.842 145.523 180.335C144.092 181.889 144.486 185.239 145 187.6C145.131 188.36 145.337 189.091 145.602 189.756C145.594 189.844 145.587 189.933 145.594 190.058C145.946 192.014 145.811 194.248 144.122 194.835C143.495 195.085 142.56 194.56 141.853 193.644C141.581 193.282 141.265 192.809 141.073 192.329C141.796 192.426 142.407 192.354 142.872 192.126C144.671 191.281 144.041 187.982 142.834 186.453C142.576 186.128 142.193 185.81 141.906 185.625C141.258 185.284 140.572 185.173 139.769 185.193C139.467 185.185 139.26 185.31 138.995 185.502C137.999 186.326 137.584 188.715 138.332 191.454C138.582 192.509 138.994 193.328 139.539 194.052C140.746 195.582 142.728 196.375 144.799 195.678C146.23 195.194 147.167 194.008 147.272 192.554C148.34 193.626 149.629 194.182 150.801 193.8C151.715 193.522 152.115 192.379 152.13 191.346C153.117 192.322 154.303 192.833 155.424 192.429C156.125 192.15 156.501 191.487 156.576 190.602C156.907 190.898 157.246 191.105 157.592 191.224C158.3 191.498 158.374 191.255 158.153 190.701C156.822 187.681 155.55 184.595 154.787 181.392C154.105 178.499 154.194 177.223 154.364 177.113C154.534 177.003 155.055 178.634 155.702 180.472C156.341 182.185 157.135 184.392 157.804 185.75C158.26 186.681 158.878 187.803 159.298 188.32C159.924 189.14 160.41 189.503 161.043 189.806C161.728 190.132 161.891 189.896 161.611 189.195C160.06 185.622 158.634 182.041 157.842 178.337C157.284 175.65 157.432 174.95 157.565 174.854C157.698 174.759 158.065 176.109 158.572 177.49C159.087 178.995 159.961 181.299 160.527 182.613C160.961 183.595 161.484 184.37 161.933 184.961C163.28 186.734 164.893 187.46 166.125 186.585C167.018 185.93 167.255 184.167 166.822 182.329C168.568 182.96 170.315 183.376 171.842 182.383C172.727 181.817 173.067 180.526 172.803 179.434C172.759 179.323 172.729 179.249 172.722 179.124C172.884 179.53 173.134 179.944 173.333 180.335C173.87 181.361 174.348 182.026 174.716 182.521C175.231 183.171 175.666 183.511 176.351 183.837C176.815 184.037 176.911 183.742 176.661 183.115C175.646 180.996 175.236 178.679 174.295 176.53C176.084 177.913 177.61 177.99 178.916 176.871C179.934 175.995 180.577 174.712 180.313 172.764C181.197 173.482 182.059 173.609 182.768 172.813C183.144 172.364 183.403 171.619 183.492 170.771C183.89 171.126 184.332 171.378 184.737 171.43C185.386 171.557 185.43 171.026 185.107 170.428C183.268 166.883 182.137 162.971 180.74 159.251C181.102 158.765 181.419 158.168 181.612 157.364C182.118 159.814 183.007 162.796 184.538 164.709C185.679 166.179 187.108 166.551 187.957 164.93C188.489 163.905 188.653 162.386 188.456 160.925C189.141 161.251 189.79 160.949 190.314 159.8C190.883 158.547 191.084 156.585 190.798 154.902C191.675 155.28 192.42 154.898 192.841 153.918C193.676 151.831 193.119 148.931 192.891 148.252C192.685 147.735 192.568 147.44 192.221 147.321L192.42 147.499ZM140.844 186.604C141.212 186.671 141.734 188.089 141.895 189.35C142.019 190.199 141.915 191.224 141.413 191.467C141.266 191.525 141.118 191.584 140.853 191.561C140.163 188.971 140.335 186.507 140.844 186.604ZM150.1 187.536C150.974 190.481 151.201 192.444 150.449 192.701C150.227 192.789 149.896 192.493 149.543 192.035C148.902 191.178 148.174 189.672 147.778 188.033C147.088 185.229 146.914 182.433 147.275 182.16C147.482 182.035 147.644 182.227 147.953 182.575C148.564 183.358 149.395 185.122 150.085 187.499L150.1 187.536ZM176.042 176.091C175.585 176.444 173.612 174.279 172.413 171.806C172.06 170.92 171.898 170.514 171.509 169.642C170.259 166.719 169.973 164.609 170.504 164.654C170.629 164.647 170.99 165.016 171.476 165.592C172.367 166.649 173.537 168.407 174.383 170.208C175.898 173.369 176.573 175.708 176.02 176.143L176.042 176.091Z" fill="white"/>
          <path d="M101.462 95.2417C97.7152 97.6323 93.7845 99.6684 89.6846 101.387L77.7758 106.344L55.5731 80.4175L71.5879 81.9078L65.5402 64.4723L80.7757 71.1915L74.1429 49.2844L91.6795 61.6733L89.3799 47.5349L105.423 57.3538L111.243 39.2543L127.36 69.7435L119.795 78.958C114.592 85.3072 108.373 90.821 101.447 95.2048L101.462 95.2417Z" fill="black"/>
          <path d="M69.291 86.5436L77.1547 87.3032C77.8254 87.3782 78.3273 86.7079 78.1142 86.0657L74.4179 75.3918C74.1092 74.6166 74.9354 73.9026 75.6722 74.2507L86.561 79.0659C87.283 79.3771 88.087 78.7146 87.8152 77.9248L83.5769 63.9598C83.3272 63.1184 84.2788 62.3972 85.0006 62.9223L96.4166 70.9917C97.0868 71.4946 98.0088 70.9135 97.8844 70.0649L96.0974 59.1438C95.9508 58.3468 96.8359 57.7804 97.5135 58.1948L107.104 64.0403C107.612 64.3511 108.291 64.1237 108.468 63.497L111.611 53.6915C111.855 52.91 112.931 52.8235 113.336 53.5176L121.295 68.5666C121.464 68.8841 121.427 69.3266 121.191 69.5918L116.187 75.6906C108.541 85.023 98.6792 92.3299 87.5446 96.9789L79.7356 100.218C79.367 100.364 78.9469 100.275 78.6524 99.9648L68.4197 88.0026C67.8676 87.3671 68.3772 86.3943 69.21 86.4475L69.291 86.5436Z" fill="white"/>
          <path d="M219.633 91.1972C219.379 87.0214 217.039 84.1474 216.029 83.4373C213.672 82.024 212.484 83.2242 212.578 85.7104C213.165 95.2277 212.031 108.039 204.249 113.919C201.165 116.259 196.914 114.488 193.499 109.989C192.123 108.143 190.791 105.765 189.828 103.24C193.359 102.988 196.36 101.836 198.831 99.9961C207.853 93.1523 206.594 77.2306 201.964 71.077C200.971 69.7621 199.365 68.5198 198.069 68.0526C195.084 67.1029 191.797 67.0009 187.654 67.5391C186.18 67.6986 184.86 68.3527 183.451 69.4271C177.513 73.9308 173.299 85.6597 176.195 100.544C177.133 106.116 179.037 110.789 181.723 114.423C182.512 121.765 181.84 129.944 178.948 132.123C175.865 134.463 169.147 130.681 162.926 123.322C167.422 116.698 169.448 110.631 170.353 104.967C171.08 100.572 170.133 97.2282 168.293 94.7535C166.96 93.0174 165.325 91.7013 163.336 90.7829C157.531 87.7919 153.521 88.2344 150.133 93.3477C148.848 95.2707 147.659 97.3267 146.824 100.055C144.541 84.2416 143.248 72.9525 140.252 68.9708C139.163 67.5229 137.734 66.5096 136.194 65.7543C133.454 64.4509 131.816 65.7019 131.717 68.9918C132.038 86.3134 137.81 120.538 142.802 139.292C144.466 148.509 144.602 159.361 140.891 162.165C139.881 162.952 138.739 162.338 137.606 160.779C132.394 153.916 132.568 136.227 130.984 128.603C129.642 121.268 125.298 117.439 121.989 116.747C119.66 116.263 117.993 117.654 118.329 120.642L118.774 125.298C115.857 123.338 112.179 123.22 108.506 126.009C103.291 129.968 98.5174 141.15 99.1914 159.144C99.1977 160.125 99.5701 163.526 99.68 164.124C102.662 181.156 99.5013 193.919 93.4305 198.519C89.4545 201.514 82.0923 200.511 74.9453 191.041C69.9623 184.429 65.2267 173.827 64.1479 162.325C62.1289 140.633 70.5466 119.189 75.3735 120.046C77.7612 120.464 77.9806 122.087 79.3758 127.091C79.9779 129.246 79.9261 129.438 80.72 131.431C81.3742 133.181 82.1392 134.672 83.1476 136.024C85.5692 139.208 88.9362 140.476 92.2164 140.239C95.4156 139.905 96.1256 137.612 95.2656 135.346C94.2 132.349 93.5248 129.581 92.5868 124.438C92.0224 121.412 91.9188 121.796 90.4468 119.816C87.1934 115.509 81.1001 113.403 74.8134 112.956C71.7768 112.84 68.6504 113.999 65.8916 116.082C63.1328 118.165 60.6088 121.266 58.5858 124.552C50.3517 139.593 45.7011 174.462 62.9844 196.404C70.0584 205.262 79.8282 208.769 87.0895 207.588C91.0187 207.049 94.9048 205.33 98.5415 202.556C103.299 198.95 107.255 193.867 109.363 187.254C109.711 186.089 110.007 184.688 110.274 183.213C114.053 185.3 118.394 185.154 122.466 182.078C126.575 178.987 128.778 172.293 129.602 167.175C133.291 170.324 138.295 170.769 143.415 166.891C146.955 164.197 149.274 159.724 150.319 154.945C151.342 155.692 152.374 156.137 153.479 156.338C155.852 156.933 157.122 155.187 156.755 153.194C154.245 143.032 152.278 134.662 151.335 127.682C162.17 142.013 172.841 143.28 180.512 137.658C186.723 133.089 188.367 126.062 188.527 120.566C194.156 123.542 200.981 123.09 207.576 117.983C215.506 111.83 220.087 100.81 219.662 91.271L219.633 91.1972ZM191.165 72.8127C192.992 72.8972 194.482 79.3179 194.542 85.581C194.589 89.8819 193.603 95.4496 191.146 97.3262C190.423 97.8707 189.575 98.2085 188.337 98.3168C185.845 84.7682 188.673 72.7786 191.165 72.8127ZM122.233 151.677C123.716 164.088 123.742 173.914 120.32 176.475C119.309 177.262 117.961 176.345 116.548 174.513C114.045 171.233 111.709 164.508 111.119 157.344C110.004 145 112.213 133.172 114.249 131.634C115.26 130.846 116.033 131.394 116.96 132.649C118.962 135.316 120.916 141.723 122.21 151.729L122.233 151.677ZM150.712 124.509C149.916 117.042 149.981 111.2 151.461 105.906C153.473 98.7317 156.138 94.8047 157.87 95.3981C159.793 96.0434 160.495 100.81 158.97 107.277C157.682 112.623 152.897 121.201 150.697 124.472L150.712 124.509Z" fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_1802_2667">
            <rect width="212.994" height="173.551" fill="white" transform="translate(0 78.8169) rotate(-21.7182)"/>
          </clipPath>
        </defs>
      </svg>
      <div>
        <h2 class="aboutUs__title">Our Mission</h2>
        <p class="aboutUs__text">At Cake Make, our mission is to elevate the cycling experience by providing custom gear that celebrates each team's identity. We are dedicated to creating apparel that combines high performance with refined design, ensuring every ride reflects your team's passion and unity.</p>
      </div>
    </div>
  </div>
</section>

<section class="whyUs">
  <div class="container">
    <h2>Why Choose Cake Make?</h2>
    
    {% comment %} SWIPER {% endcomment %}
    <style>
      .embla {
        overflow: hidden;
        color: #fff;
      }
      .embla__container {
        display: flex;
      }
      .embla__slide {
        flex: 0 0 100%;
        min-width: 0;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
      }
    
      .home__cakeMake {
        position: relative;
      }
    
      .home__cakeMake_jersey {
        position: relative;
        width: 500px;
      }
    
      .home__cakeMake_container {
        max-width: 1160px;
        margin: 150px auto;
      }
    
      .home__cakeMake h3 {
        font-size: 40px;
        line-height: 1;
        text-transform: capitalize;
        margin: 24px 0;
      }
    
      .home__cakeMake_buttons {
        display: flex;
        gap: 24px;
        margin-top: 72px;
      }
    
      .home__cakeMake h2 {
        color: #fff;
        font-size: 112px;
        text-transform: capitalize;
      }
    
      .embla__slide > div:first-child {
        padding-left: 150px;
        position: relative;
      }
    
      .home__cakeMake_arrow {
        position: absolute;
        top: 40px;
        max-width: 100px;
        left: 0;
      }
    
      .home__cakeMake_emblaButtons {
        display: flex;
        justify-content: center;
        gap: 16px;
      }
    
      .swiper-pagination {
        max-width: 135px;
        display: flex;
      }
    
      .swiper-pagination-bullet {
        width: 16px;
        background: #fff;
        opacity: .5;
        transition: .5s;
        border-radius: 10px;
      }
    
      .swiper-pagination-bullet-active {
        width: 100% !important;
        opacity: 1 !important;
      }

      @media screen and (max-width: 600px) {
        .home__cakeMake_arrow {
          display: none;
        }

        .embla__slide > div:first-child {
          padding: 0;
        }

        .embla__slide {
          flex: 0 0 100%;
          min-width: 0;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
        }

        .home__cakeMake_jersey {
          width: 100%;
        }

        .swiper {
          width: 100% !important;
        }

        .swiper-pagination {
          position: relative;
          margin-top: 50px;
        }

        .whyUs {
          padding-bottom: 100px;
        }
      }
    </style>
    
    <section class="home__cakeMake">
      <div class="home__cakeMake_container">
    <style>
      .swiper {
      width: 1160px;
    }
    </style>
    <!-- Slider main container -->
    
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="embla__slide">
            <div>
              <h3>Bespoke Designs</h3>
              <p>Work with our expert design team to create unique gear that embodies your team's essence.</p>
            <div class="home__cakeMake_buttons">
              {% include 'button', href: '/pages/get-started', btn_class: 'primary', btn_text: 'Make Jersey' %}
              {% include 'button', href: '/#home__contact', btn_class: 'secondary', btn_text: 'Learn More' %}
            </div>
            <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
            </div>
            <div class="embla__slide_imgBox">
              <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/a2b48c20665731ac2b4896a04b62e250.png?v=1722833219" alt="Gypsy Jersey" class="home__cakeMake_jersey">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="embla__slide">
            <div>
              <h3>Superior Craftsmanship</h3>
              <p>We use the finest materials and advanced techniques to produce apparel that meets the highest standards of quality and durability.</p>
            <div class="home__cakeMake_buttons">
              {% include 'button', href: '/pages/get-started', btn_class: 'primary', btn_text: 'Make Jersey' %}
              {% include 'button', href: '/#home__contact', btn_class: 'secondary', btn_text: 'Learn More' %}
            </div>
            <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
            </div>
            <div class="embla__slide_imgBox">
              <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/4c99541d8ccec35db6db3a756e831faf.png?v=1722833289" alt="Alkem Jersey" class="home__cakeMake_jersey" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="embla__slide">
            <div>
              <h3>Performance-Driven</h3>
              <p>Our gear is engineered to enhance performance, providing comfort and functionality for every ride.</p>
            <div class="home__cakeMake_buttons">
              {% include 'button', href: '/pages/get-started', btn_class: 'primary', btn_text: 'Make Jersey' %}
              {% include 'button', href: '/#home__contact', btn_class: 'secondary', btn_text: 'Learn More' %}
            </div>
            <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
            </div>
            <div class="embla__slide_imgBox">
              <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/8c7f20e9011b993f6b2b1cfacda9e429.png?v=1722833357" alt="Squad Jersey" class="home__cakeMake_jersey" />
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
    </div>
    
    <script>
      const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    
      // autoplay: {
      //   delay: 5000,
      // },
    
    });
    </script>
    
    {% comment %} SWIPER TEST {% endcomment %}
      </div>    
    </section>
    {% comment %} SWIPER {% endcomment %}

  </div>
</section>

{% section 'contactCta' %}

{% section 'contactUs' %}

{% section 'footer' %}